$webResourceManager.requireResource("com.atlassian.labs.hipchat.jira:room-config")
<tr>
    <tr>
    <td class="fieldLabelArea">
        JQL:
    </td>
    <td nowrap>
        <textarea name="jql" id="jql" rows="3" cols="50">$jql</textarea>
    </td>
</tr>
<tr>
    <td colspan="2">
        HipChat rooms to notify when this transition happens:
        <script id="rooms-tmpl" type="text/tmpl">
            <% _.each(rooms, function(room){ %>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" <%= room.checked %> name="roomsToNotify" value="<%= room.room_id %>" data-label="<%= room.name %>">
                <label for="<%= room.room_id %>"><%= room.name %></label>
            </div>
            <% }) %>
        </script>
        <script id="room-names-tmpl" type="text/tmpl">
            <textarea name="roomNames" class="hidden">
                <ul class="aui">
                    <% _.each(rooms, function(room){ %>
                    <li><%= room %></li>
                    <% }) %>
                </ul>
            </textarea>
        </script>
        <script type="text/javascript">
            window.hcRoomIds = "$roomsToNotifyStr";
            window.hcRooms = $roomsJson;
        </script>
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">
        Rooms:
    </td>
    <td nowrap>
        <div id="room-list"></div>
    </td>
</tr>